{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }}{% endblock %}

{% block content %}
    {% if username %}
        <div class="popup-moove hide">
            <form action="?action=home&path={{ path }}" method="POST">
                <label for="moove-input">Where do you want to move your file?</label><br>
                <input id="moove-input" name="moove-next-path" type="text" value="{{ path }}"><br>
                <input type="hidden" name="input-hidden-moove" class="input-hidden-moove">
                <input type="submit">
            </form>
        </div>
        <div class="popup-rename hide">
            <form action="?action=home&path={{ path }}" method="POST">
                <label for="new-name">New name:</label><br>
                <input type="text" id="new-name" name="new-name"><br>
                <input type="hidden" name="old-name">
                <input type="hidden" name="path">
                <input type="submit">
            </form>
        </div>
        <div class="popup-delete hide">
            <form class="popup-delete" action="?action=home&path={{ path }}" method="POST">
                <input class="delete-path" type="hidden" name="delete-path">
                Do you want delete <span class="delete-name"></span>
                <br>
                <input type="submit" value="Yes">
                <span class="close-delete">No</span>
            </form>
        </div>
        <div class="upload">
            <form enctype="multipart/form-data" action="?action=home&path={{ path }}" method="POST">
                <input type="hidden" name="MAX_FILE_SIZE" value="20000000">
                <input name="userfile" type="file" /><br>
                <label for="fileName">Choose the name of your file (don't forget the extension):</label><br>
                <input id="fileName" name="fileName" type="text"><br>
                <input type="submit" value="Send">
            </form>
        </div>
        <div class="error">
            {% for error in errors %}
                {{ error }} <br>
            {% endfor %}
        </div>
        <div class="dir-nav">
            <a href="?action=home">{{ username }}</a>
            {% for dir in dirNav %}
                 / <a href="?action=home&path=/{{ dir.path }}">{{ dir.name }}</a>
            {% endfor %}
        </div>
        {% for dir in dirs %}
            <div>
                <a href="?action=home&path={{ path }}/{{ dir }}">{{ dir }}</a>
                <span class="rename" data-path="{{ path }}">rename</span>
                <span class="delete" data-path="{{ path }}/{{ dir }}">delete</span>
                <span class="moove" data-path="{{ path }}/{{ dir }}">moove</span>
            </div>
        {% endfor %}
        <br>
        {% for file in files %}
            <div>
                <a href="?action=download&dlPath={{ path }}/{{ file.name }}&path={{ path }}" data-name="{{ file.name }}">{{ file.name }}</a>
                <span class="rename" data-path="{{ path }}">rename</span>
                <span class="delete" data-path="{{ path }}/{{ file.name }}">delete</span>
                <span class="moove" data-path="{{ path }}/{{ file.name }}">moove</span>
                {% if file.img %}
                    <a href="?action=viewImg&path={{ path }}/{{ file.name }}">view</a>
                {% elseif file.audio %}
                    <a href="?action=viewAudio&path={{ path }}/{{ file.name }}">view</a>
                {% elseif file.video %}
                    <a href="?action=viewVideo&path={{ path }}/{{ file.name }}">view</a>
                {% elseif file.write %}
                    <a href="?action=viewTxt&path={{ path }}/{{ file.name }}">view and write</a>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div>
            Connect to find your files
        </div>
    {% endif %}
{% endblock %}
