{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }}{% endblock %}

{% block content %}
    {% for dir in dirs %}
        <a href="?action=home&path={{ path }}/{{ dir }}">{{ dir }}</a>
        <br>
    {% endfor %}
    <br>
    {% for file in files %}
        <a href="?action=home&download={{ path }}/{{ file }}&path={{ path }}">{{ file }}</a>
        <br>
    {% endfor %}
{% endblock %}
